<div class="career-nobel-container">
<div class="container " >

  <div class="row " style="padding-top:50px;" >
    <h2>{{'career_with_nobel' | translate }}</h2>
    <div class="col-lg-12 col-md-12 col-sm-10" style="text-align: justify;letter-spacing: 1px;">
      <p>{{'career_with_nobel_content1' | translate}}</p>
      <br>
      <p>{{'career_with_nobel_content2'| translate}}</p>
    </div>
  </div>
</div> 

</div>
<div class="container" style="padding-top: 20px;">
<div class="col-md-12 resume-section" style="margin-top: 20px;">
   <b style="font-weight: bold;font-size: 30px;color:#2e3192;">Current Openings</b>

</div>
<br>
<br>
<hr class="border-current-opening">
  <ngu-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)" style="margin-top: 75px;">
    <ngu-item NguCarouselItem>
      <div class="col-sm-4">
        <div class="well">
          <h3>Job Code : Va-1 </h3>
          <p>Designation- Marketing Executive</p>
          <p>Job Description | Work Profile:</p>
          <ul>
            <li>Marketing Life & Medical products of various Companies. NIB has tie up with almost all leading Companies in UAE.</li>
            <li>Target Achievement</li>
            <li>Three months Probation- production & conduct will be assessed.</li>
            <li>Daily Activity Reporting</li>
            <li>Participating in Training and allied activities</li>
            <li>An opportunity to Sale Group Products- Group Life & Group Medical</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <h3>Job Code : Va-1 </h3>
          <p>Designation- Marketing Executive</p>
          <p>Job Description | Work Profile:</p>
          <ul>
            <li>Marketing Life & Medical products of various Companies. NIB has tie up with almost all leading Companies in UAE.</li>
            <li>Target Achievement</li>
            <li>Three months Probation- production & conduct will be assessed.</li>
            <li>Daily Activity Reporting</li>
            <li>Participating in Training and allied activities</li>
            <li>An opportunity to Sale Group Products- Group Life & Group Medical</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <h3>Job Code : Va-1 </h3>
           <p>Designation- Marketing Executive</p>
          <p>Job Description | Work Profile:</p>
          <ul>
            <li>Marketing Life & Medical products of various Companies. NIB has tie up with almost all leading Companies in UAE.</li>
            <li>Target Achievement</li>
            <li>Three months Probation- production & conduct will be assessed.</li>
            <li>Daily Activity Reporting</li>
            <li>Participating in Training and allied activities</li>
            <li>An opportunity to Sale Group Products- Group Life & Group Medical</li>
          </ul>
        </div>
      </div>
    </ngu-item>
    <ngu-item NguCarouselItem>
      <div class="col-sm-4">
        <div class="well">
          <h3>Job Code : Va-1 </h3>
           <p>Designation- Marketing Executive</p>
          <p>Job Description | Work Profile:</p>
          <ul>
            <li>Marketing Life & Medical products of various Companies. NIB has tie up with almost all leading Companies in UAE.</li>
            <li>Target Achievement</li>
            <li>Three months Probation- production & conduct will be assessed.</li>
            <li>Daily Activity Reporting</li>
            <li>Participating in Training and allied activities</li>
            <li>An opportunity to Sale Group Products- Group Life & Group Medical</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <h3>Job Code : Va-1 </h3>
           <p>Designation- Marketing Executive</p>
          <p>Job Description | Work Profile:</p>
          <ul>
            <li>Marketing Life & Medical products of various Companies. NIB has tie up with almost all leading Companies in UAE.</li>
            <li>Target Achievement</li>
            <li>Three months Probation- production & conduct will be assessed.</li>
            <li>Daily Activity Reporting</li>
            <li>Participating in Training and allied activities</li>
            <li>An opportunity to Sale Group Products- Group Life & Group Medical</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <h3>Job Code : Va-1 </h3>
        <p>Designation- Marketing Executive</p>
          <p>Job Description | Work Profile:</p>
          <ul>
            <li>Marketing Life & Medical products of various Companies. NIB has tie up with almost all leading Companies in UAE.</li>
            <li>Target Achievement</li>
            <li>Three months Probation- production & conduct will be assessed.</li>
            <li>Daily Activity Reporting</li>
            <li>Participating in Training and allied activities</li>
            <li>An opportunity to Sale Group Products- Group Life & Group Medical</li>
          </ul>
        </div>
      </div>
    </ngu-item>
    <ngu-item NguCarouselItem>
      <div class="col-sm-4">
        <div class="well">
          <h3>Job Code : Va-1 </h3>
          <p>Designation- Marketing Executive</p>
          <p>Job Description | Work Profile:</p>
          <ul>
            <li>Marketing Life & Medical products of various Companies. NIB has tie up with almost all leading Companies in UAE.</li>
            <li>Target Achievement</li>
            <li>Three months Probation- production & conduct will be assessed.</li>
            <li>Daily Activity Reporting</li>
            <li>Participating in Training and allied activities</li>
            <li>An opportunity to Sale Group Products- Group Life & Group Medical</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <h3>Job Code : Va-1 </h3>
           <p>Designation- Marketing Executive</p>
          <p>Job Description | Work Profile:</p>
          <ul>
            <li>Marketing Life & Medical products of various Companies. NIB has tie up with almost all leading Companies in UAE.</li>
            <li>Target Achievement</li>
            <li>Three months Probation- production & conduct will be assessed.</li>
            <li>Daily Activity Reporting</li>
            <li>Participating in Training and allied activities</li>
            <li>An opportunity to Sale Group Products- Group Life & Group Medical</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <h3>Job Code : Va-1 </h3>
          <p>Designation- Marketing Executive</p>
          <p>Job Description | Work Profile:</p>
          <ul>
            <li>Marketing Life & Medical products of various Companies. NIB has tie up with almost all leading Companies in UAE.</li>
            <li>Target Achievement</li>
            <li>Three months Probation- production & conduct will be assessed.</li>
            <li>Daily Activity Reporting</li>
            <li>Participating in Training and allied activities</li>
            <li>An opportunity to Sale Group Products- Group Life & Group Medical</li>
          </ul>
        </div>
      </div>
    </ngu-item>
    <button NguCarouselPrev class='leftRs  glyphicon glyphicon-menu-left'></button>
    <button NguCarouselNext class='rightRs  glyphicon glyphicon-menu-right'></button>
  </ngu-carousel>
</div>
<br>
<br>
<div class="col-md-12 resume-section" style="padding-bottom: 20px;">
  <b style="margin: auto;font-weight: bold;font-family: 'Raleway', sans-serif;font-size: 30px;color:#2e3192">Post Your Resume</b>
</div>
<hr class="border-current-opening">

<!-- Material form login -->
<div class="container" style="padding-bottom: 20px;margin-top: 50px;">
  <form [formGroup]='careerForm.getForm()' (ngSubmit)='send()'>
    <div class=" col-lg-2 col-md-2"></div>
    <div class=" col-lg-4 col-md-4 border-right" id="panel">
      <div class="group">
        <input type="text" formControlName='name' required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Name</label>
          <div *ngIf="careerForm.hasError('name')">
                    <small class="text-danger">{{careerForm.getError('name')}}</small>
                    </div>
      </div>
      <div class="group">
        <input type="text" formControlName='email' required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Email</label>
           <div *ngIf="careerForm.hasError('email')">
                    <small class="text-danger">{{careerForm.getError('email')}}</small>
                    </div>
      </div>
      <div class="group">
        <input type="text" formControlName='mobile' required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Mobile No</label>
          <div *ngIf="careerForm.hasError('mobile')">
                    <small class="text-danger">{{careerForm.getError('mobile')}}</small>
                    </div>
      </div>
    </div>
    <div class=" col-lg-4 col-md-4">
      <div class="group">
        <input type="text" formControlName='functionalArea' required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Functional Area</label>
      </div>
      <div class="group">
        <input type="text" formControlName='resumeTitle' required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Resume Title</label>
      </div>
      <div class="group">
        <label> Resume</label>
        <br>
        <input type="file" class="file-upload" style="border-bottom: none;font-size: 12px;">
        <!-- <span class="highlight"></span> -->
        <!-- <span class="bar"></span> -->
      </div>
      <div class=" col-lg-2 col-md-2"></div>
    </div>

    <div class="row" style="text-align: center;">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="padding-bottom: 30px;
    padding-top: 30px;">
        <button type="submit" class="btn btn-warning">Send <span class="glyphicon glyphicon-send"></span></button> &nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-warning">Cancel <span class="glyphicon glyphicon-remove"></span></button>
      </div>
      <div class="col-md-4"></div>
    </div>
  </form>
</div>
<!-- Material form login -->
