<div class="about-nobel-container">
<div class="container " style="font-family: 'Raleway', sans-serif;">

  <div class="row " >
   
   <h2 style="padding-top:35px"> {{'about_nobel_insurance' | translate }}</h2>
   <br>
   <!-- <div class="col-md-12"> -->
   <!-- <div class="col-md-1" style="width: 5%;"></div> -->
   <div class="col-lg-12 col-md-12 col-sm-12 about-noble">
   	{{'about_nobel_ins_home_content' | translate}}
   </div>
  </div>
  
  <br>
<!-- </div>   -->
  <div class="row" >
  <h2>{{'work_excellence'| translate}}</h2>
  <br>
   <div class="col-lg-12 col-md-12 col-sm-12 about-noble" style="padding-bottom:30px">
  		<p >{{'work_excellence_content'| translate}}</p>
  		</div>
      <br>
       <br>
  </div>
</div>
</div>
<div class="container" style="padding-top: 50px;padding-bottom:10px;">
    <div class="row" style="padding-bottom: 50px;">
        <div class="col-md-6 border-right" style="text-align: center;">
            <b style="color:#2e3192;font-size:30px;font-weight: bold;">{{'nobel_insurance_initiative' | translate}} </b>
            <hr class="border">
          <!--   <div class="border"></div> -->
            <br>
            <br>
            <div class="" style="margin: auto;">
              <img src="../assets/images/noble_ins_initiative@2x-8.png" class="wow slideInUp" data-wow-duration="2s"  width="150px">
              </div>
              <div class="col-md-2"></div>
                <div class="col-md-10" style="margin-top: 50px;text-align: justify;">
            <p>{{'about_us_circle_content1' | translate}} </p>
            <p>{{'about_us_circle_content2' | translate}} </p>
            <p>{{'about_us_circle_content3' | translate}} </p>
            <p>{{'about_us_circle_content4' | translate}} </p>
            <p>{{'about_us_circle_content5' | translate}} </p>
            <p>{{'about_us_circle_content6' | translate}} </p>
            </div>
            </div>
          
        <div class="col-md-6" style="text-align: center;">
            <b style="color:#2e3192;font-size:30px;font-weight: bold;">{{'why_nobel' | translate}}</b>
            <hr class="border">
             <br>
            <br>
             <div class="" style="margin: auto;">
               <img src="../assets/images/whynoble@2x-8.png" class="wow slideInUp" data-wow-duration="2s" width="150px">
             </div>
             <div class="col-md-2"></div>
              <div class="col-md-10" style="margin-top: 50px;text-align: justify;">
            <p>{{'about_us_circle_content7' | translate}} </p>
            <p>{{'about_us_circle_content8' | translate}} </p>
            <p>{{'about_us_circle_content9' | translate}} </p>
            <p>{{'about_us_circle_content10' | translate}} </p>
            <p>{{'about_us_circle_content11' | translate}} </p>
            </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="text-align: center;color:#2e3192;font-size:30px;font-weight: bold;"><br>
    <b >{{'services_solutions' | translate}}</b>
     <hr class="border-service-solution">
    </div>
   
     <div class="col-md-4"></div>
    </div>
    <br>
</div>
<div class="two-box-first"  style="width: 100%;">
<div class="container">

    <div class="row" >
        <div class="col-md-5" style="padding: 10px;text-align: center;font-family: 'Raleway', sans-serif; min-height: 230px;" >
         <b class="" >{{'complete_peace_mind'| translate}}</b>
         <br>
         <br>
      <!--   <div class="col-md-1" style="width: 7%"></div>
        <div class="col-md-11" style="text-align: justify;color: #fff"> -->
            <p>{{'complete_peace_of_mind_for_our_client' | translate}}</p>
        </div>
        <!-- </div> -->
<div class="col-md-2"></div>
        <div class="col-md-5" style="padding: 10px;text-align: center;font-family: 'Raleway', sans-serif;min-height: 230px;">
            <b>{{'identify_evaluate_risk' | translate}}</b>
            <br>
         <br>
        <!-- <div class="col-md-1" style="width: 7%"></div> -->
        <!-- <div class="col-md-11" style="text-align: justify;color:#fff"> -->
             <p>{{'identify_evaluate_risk_content' | translate}}.</p>
        <!-- </div> -->
    </div>
    </div>
    </div>
    </div>
    <div class="two-box-second"  style="width: 100%;">
<div class="container">
    <div class="row">
      <div class="col-md-5" style=" padding: 10px;text-align: center;font-family: 'Raleway', sans-serif;min-height: 250px;" >
            <b>{{'claim_assistance' | translate}}</b>
            <br>
         <br>
       <!--  <div class="col-md-1" style="width: 7%"></div>
        <div class="col-md-11" style="text-align: justify;color:#fff"> -->
            <p>{{'claim_assistance_content' | translate}}</p>
        </div>
        <div class="col-md-2"></div>
        <!-- </div> -->
        <div class="col-md-5"  style="padding: 10px;text-align: center;font-family: 'Raleway', sans-serif; min-height: 250px;" >
            <b>{{'review_the_insurance_portfolio' | translate}}</b>
             <br>
         <br>

        <!-- <div class="col-md-1" style="width: 7%"></div> -->
        <!-- <div class="col-md-11" style="text-align: justify;color:#fff"> -->
             <p>{{'review_the_insurance_portfolio_content' | translate}}</p>
        <!-- </div> -->
        </div>
    </div>
</div>
</div>
