u<ngu-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)" style="margin-top: 60px;">
 <ngu-item NguCarouselItem>
    <img src="../assets/images/home/property.jpg" class="carousel-img">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos">
      <h1 class="image-text">Property Insurance</h1>
    </div>
  </ngu-item>
   <ngu-item NguCarouselItem>
    <img src="../assets/images/home/marine cargo.jpg" class="carousel-img" >
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos" >
      <h1 class="image-text">Cargo Insurance</h1>
    </div>
  </ngu-item>
  <ngu-item NguCarouselItem>
    <img src="../assets/images/home/Motor.jpg" class="carousel-img">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos" >
      <h1 class="image-text">{{'motor_insurence' | translate}}</h1>
    </div>
  </ngu-item>
  <ngu-item NguCarouselItem>
    <img src="../assets/images/home/avition.jpg" class="carousel-img">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos" >
      <h1 class="image-text">Aviation Insurance</h1>
    </div>
  </ngu-item>
 <!--  <ngu-item NguCarouselItem>
    <img src="../assets/images/home/Corp-Family-1.jpg" class="carousel-img">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos" >
     <h1 class="image-text">{{'health_life_insurance' | translate}}</h1>
     </div>
  </ngu-item> -->
   <ngu-item NguCarouselItem>
    <img src="../assets/images/home/Investment.jpg" class="carousel-img">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos" >
      <h1 class="image-text">Investment </h1>
    </div>
  </ngu-item>
    <ngu-item NguCarouselItem>
    <img src="../assets/images/home/Medical-Insurance.jpg" class="carousel-img">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos" >
      <h1 class="image-text">{{'medical_insurance' | translate}}</h1>
    </div>
  </ngu-item>
 <!--    <ngu-item NguCarouselItem>
    <img src="../assets/images/home/5.png" class="carousel-img">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos" >
      <h1 class="image-text">{{'enginnering_insurance' | translate}}</h1>
    </div>
  </ngu-item> -->
   <ngu-item NguCarouselItem>
    <img src="../assets/images/home/pleasure craft.jpg" class="carousel-img">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos" style="">
      <h1 class="image-text">Pleasure  Craft Insurance</h1>
    </div>
  </ngu-item>
  <!--  <ngu-item NguCarouselItem>
    <img src="../assets/images/home/Tradiciones-Árabes-familia.jpg" class="carousel-img">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos" style="">
      <h1 class="image-text">{{'strategy' | translate}}</h1>
    </div>
  </ngu-item> -->
  <!-- color  -->
  <!-- <ngu-item NguCarouselItem>
    <img src="http://nibuae.com/images/property.jpg" class="carousel-img">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos">
      <h1 class="image-text">{{'property_management' | translate}}</h1>
    </div>
  </ngu-item> -->
  
  <!-- <ngu-item NguCarouselItem>
    <img src="../assets/images/home/car.jpg" class="carousel-img">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos" >
      <h1 class="image-text">{{'motor_insurence' | translate}}</h1>
    </div>
  </ngu-item> -->
  <ngu-item NguCarouselItem>
    <img src="../assets/images/home/Travel.jpg" class="carousel-img">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos" >
      <h1 class="image-text">{{'travel_insurence' | translate}}</h1>
    </div>
  </ngu-item>
 <!--  <ngu-item NguCarouselItem>
    <img src="../assets/images/home/Tradiciones-Árabes-familia.jpg" class="carousel-img">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos" >
     <h1 class="image-text">Life & Medical Insurance</h1>
     </div>
  </ngu-item> -->
   <ngu-item NguCarouselItem>
    <img src="../assets/images/home/Marine Hull.jpg" class="carousel-img" >
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos" >
      <h1 class="image-text">{{'marine_insurance' | translate}}</h1>
    </div>
  </ngu-item>
   <!-- <ngu-item NguCarouselItem>
    <img src="../assets/images/home/Investment.jpg" class="carousel-img">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos" >
      <h1 class="image-text">{{'investment' | translate}}</h1>
    </div>
  </ngu-item> -->
  <!--   <ngu-item NguCarouselItem>
    <img src="http://nibuae.com/images/3.jpg" class="carousel-img">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos" >
      <h1 class="image-text">{{'medical_insurance' | translate}}</h1>
    </div>
  </ngu-item> -->
    <ngu-item NguCarouselItem>
    <img src="../assets/images/home/Engineering-Insurance.jpg" class="carousel-img">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos" >
      <h1 class="image-text">{{'enginnering_insurance' | translate}}</h1>
    </div>
  </ngu-item>
  <ngu-item NguCarouselItem>
    <img src="../assets/images/home/consulting.jpg" class="carousel-img">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos" style="">
      <h1 class="image-text">Risk Management</h1>
    </div>
  </ngu-item>
 <!--   <ngu-item NguCarouselItem>
    <img src="http://nibuae.com/images/4.jpg" class="carousel-img">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos" style="">
      <h1 class="image-text">{{'strategy' | translate}}</h1>
    </div>
  </ngu-item> -->
  <!--  <ngu-item NguCarouselItem>
    <img src="../assets/images/home/2.png" class="carousel-img">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 image-pos" style="">
      <h1 class="image-text">{{'insurance_consultancy' | translate}}</h1>
    </div>
  </ngu-item> -->
  <div class="btn-left" NguCarouselPrev class='leftRs'></div>
  <div class="btn-left" NguCarouselNext class='rightRs'></div>
</ngu-carousel>
<!--Carousel Wrapper-->
<div class="container product-div">
  <div class="row">
  <!-- <div class="animated bounce"></div> -->
    <h2  style="text-align: center;color:#2e3192;padding-bottom: 30px;padding-top: 9px;"><strong>{{'home_products' | translate}}</strong></h2>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail circle wow slideInUp" data-wow-duration="2s" style="text-align: center;">
        <img src="../assets/images/personal.svg" alt="Generic placeholder thumbnail" style="width: 75px;
    margin-top: 5px;">
      </div>
      <div class="caption" style="text-align: center;" >
        <h4><strong>{{'personal_insurance' | translate}}</strong></h4> 
        <br>
        <p>Personal insurance business caters to the needs of the individuals and families and protects the individuals from losses they couldn’t afford to cover on their own. Personal Insurance makes it possible for the individuals to do things like drive a car, own a home without risking financial ruin. These includes cover for Property, Motor, Personal Accident, Health Insurance, Pleasure Craft Insurance and Travel Insurance.</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail circle wow slideInUp" data-wow-duration="2s">
        <img  src="../assets/images/commercialins.svg" alt="Generic placeholder thumbnail" style="width: 75px; margin-top: 17px;">
      </div>
      <div class="caption">
        <h4><strong>{{'commercial_insurance' | translate}}</strong></h4>
        <br>
        <p>Commercial insurance is insurance that protects businesses. It protects businesses against loss or damage through unforeseen circumstances like Property damage, Business Interruption, theft, burglary, liability, road accidents to fleet of vehicles, workmen’s injuries, marine and aviation accidents etc. Commercial insurance comes in many forms, and what you’ll need will depend upon your business</p>
      </div>
    </div>
   
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail circle wow slideInUp" data-wow-duration="2s">
        <img src="../assets/images/lifeand wealth.svg" alt="Generic placeholder thumbnail" style="width: 75px;
    margin-top: 5px;">
      </div>
      <div class="caption">
        <h4><strong>{{'life_wealth_management' | translate}}</strong></h4>
        <br>
        <p>With the growing complexities in the world of finance and the vast variety of financial products available, professional Wealth Management services are becoming inevitable. This service is needed not only by Individuals but by small and medium corporates as well.Our Wealth Management division operates as an independent operation to advise our expatriate customers on the finer aspects of Investments in the Gulf and overseas. With its independent office and staff, this division is a fast-growing operation. </p>
      </div>
    </div>
     <div class="col-sm-6 col-md-3">
      <div class="thumbnail circle wow slideInUp" data-wow-duration="2s" >
        <img src="../assets/images/specilizedin.svg" alt="Generic placeholder thumbnail" style="width: 75px;
    margin-top: 5px;">
      </div>
      <div class="caption">
        <h4><strong>Consultancy</strong></h4>
        <br>
        <p>NOBLE Insurance, helps businesses identify risks and choose appropriate insurance policies to cover potential liabilities. We perform risk assessment for your business and assist you in improving the risk and providing you appropriate insurance policies to cover the adversities related to your business. Our experienced team will assist you in insurance management and claims management and helps your business achieves its overall objectives.</p>
      </div>
    </div>
  </div>
  <br>
  <button class="btn btn-default btn-show-more center-block btn-round-lg" routerLink="/product" style="text-align: center;">{{'show_more' | translate}}</button>
</div>
<!--    container-1  about noble insurance  starts-->
<div class=" about-nobel-container">
<div class="container">
  <div class="row ">

    
      <h1>{{'about_nobel_insurance' | translate }}</h1>
      <br>
     <!-- <div class=" col-md-1 col-sm-1"></div> -->
      <div class="col-lg-12 col-md-12 col-sm-10" style="text-align: justify;">
      <p>{{'about_nobel_ins_home_content' | translate}}</p>
    </div>
     <!-- <div class=" col-md-1 col-sm-1" ></div> -->
  </div>
  <div class="row">
      <h1>{{'work_excellence'| translate}}</h1>
      <br>
 <!-- <div class="col-md-1"></div> -->
    <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: justify;">
      <p>{{'work_excellence_content'| translate}}</p>
      <br>
    </div>
    <!-- <div class="col-md-1" ></div> -->
     </div>
    <br>
 <button class="btn btn-default btn-know-more btn-round-lg" routerLink="/about">{{'know_more' | translate}}</button>  
 <br>

 <br>
 </div>
</div>
<!-- <div class="container property-manage">
  </div> -->
<div class="container testimonial-div property-manage">
  <h2 style="text-align: center;color:#2e3192;padding-top: 70px;"><b>{{'news_events' | translate}}</b></h2>
  <ngu-carousel [inputs]="carouselBottom" (carouselLoad)="myfunc($event)" style="margin-top: 30px;">
    <ngu-item NguCarouselItem>
      <div class="col-md-12 col-sm-12" >
          <p style="font-size: 18px;"><b style="color:#2e3192; font-size: 30px; ">“ </b>Insurance Authority of UAE, as per Resolution No.15 and Decision no. 58 of 2013, made compulsory that All the Insurance Brokers must reapply for their licences with an increased capital of AED 3,000,000/- and should meet various administrative requirement. <b style="color:#2e3192; font-size: 30px; ">”</b></p>
          
      </div>
    </ngu-item>
       <ngu-item NguCarouselItem>
      <div class="col-md-12 col-sm-12">
      
          <p style="font-size: 18px;"><b style="color:#2e3192; font-size: 30px; ">“ </b>We are happy to announce that we have been succeeded in renewing our Broker Licence. <b style="color:#2e3192; font-size: 30px; ">”</b></p>
      </div>
  
      
    </ngu-item>
     <ngu-item NguCarouselItem>
      <div class="col-md-12 col-sm-12">
      
          <p style="font-size: 18px;"><b style="color:#2e3192; font-size: 30px; ">“ </b>Dubai Health Authority has made Health Insurance as obligatory as per Insurance Law of Dubai. The law required that all Nationals and Residents of Dubai (including Dependents) must have Health Insurance coverage in place, should be applicable in three phases. Phase-I: For 1000+ employees, end at 31-10-2014. Phase-II: For 100 ~ 999 employees, end at July -2014.Phase-III: For Below 100 employees, Spouses & Dependents and Domestic workers, end at June-2016. <b style="color:#2e3192; font-size: 30px; ">”</b></p>
      </div>
  
      
    </ngu-item>
 <ngu-item NguCarouselItem>
      <div class="col-md-12 col-sm-12">
    <p style="font-size: 18px;"><b style="color:#2e3192; font-size: 30px; ">“ </b>Medical Malpractice Insurance has been made compulsory in UAE for all Hospitals, Clinics, Diagnostic Centers and Dentists. | Noble has opened new Life & Investment Division under Sharjah Branch in the same CBI Bldg, Bank Street Rolla. <b style="color:#2e3192; font-size: 30px; ">”</b></p>
     </div>
  
      
    </ngu-item>
   <div class="btn-left" NguCarouselPrev class='leftRs'></div>
  <div class="btn-left" NguCarouselNext class='rightRs'></div>
  </ngu-carousel>
</div>
